
* {
	font-family: 'Poppins', sans-serif;
}
body {
    color: #677294;  
    /* background: #2904b0; */
	font-family: 'Poppins', sans-serif;
}

main {
    min-height: calc(100vh - 160px);
}

img {
    max-width: 100%;
}

b, strong {
    font-weight: 500;
}

.nav-shop {
    background: #2904b0 !important;
    border-radius: 0px;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, .02);
    margin: 0;
}

.table-striped tbody tr {
    background-color: #fff !important;
}

.table-striped tbody tr.bg-light {
    background-color: #f3f3f3 !important;
}

.table-striped tbody tr.bg-light-2 {
    background-color: #f9f9f9 !important;
}

.btn-primary,
.btn-primary[disabled],
.btn-primary:active,
.btn-primary:focus {
    background-color: #00ceb1 !important;
    border-color: #00ceb1 !important;
}

.text-primary {
    color: #00ceb1 !important;
}

.btn-primary:hover {
    border-color: #00ceb1;
}

.table-responsive {
    width: 100%;
}

.page-title {
    text-align: center;
    /* padding-bottom: 15px; */
    /* border-bottom: 1px solid #240693; */
    color: #000;
    font-weight: 500;
    font-size: 36px;
}

.navbar-light .navbar-brand {
    color: #D41A83;
    font-weight: 500;
}

.navbar .btn:not(.btn-link) {
    margin-top: 3px;
}

.navbar .nav-item > a {
    font-size: 13px;
    font-weight: 500;
}

.btn-gardient {
    padding-left: 15px !important;
    padding-right: 15px !important;
    border: none;
    color: white !important;
    background: #34e5cd;
    background: -moz-linear-gradient(45deg, #34e5cd 0%, #11b28d 100%);
    background: -webkit-linear-gradient(45deg, #34e5cd 0%,#11b28d 100%);
    background: linear-gradient(45deg, #34e5cd 0%,#11b28d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34e5cd', endColorstr='#11b28d',GradientType=1 );
}

.btn ion-icon,
.btn .icon,
.btn .ion {
    vertical-align: middle;
}

.text-decoration-none {
    text-decoration: none !important;
}

.container{
    width: 93% !important;
    max-width: 1350px;
    padding: 0;
}

.navbar{
    margin: 2rem auto;
    padding: 0;
}

.navbar-light {
    box-shadow: none !important;
}

.navbar-light .navbar-toggler {
    border-color: transparent;
    outline: none !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #7D8A9B;
    font-weight: 500;
    font-size: 0.875rem;
    border-radius: 30px;
    padding: 5px 21px;
    border: none;
    margin-top: 0 !important;
    margin-left: 3px;
    margin-right: 3px;
}

.pink-btn{
    background-color: #D41A83;
    color: #F7FAFC !important;
    padding: 0.45em 1.45em !important;
    display: inline-block;
}

.btn-block-pink{
    height: 55px !important;
    display: block !important;
    width: 100%;
    border-radius: 10px !important;
    line-height: 40px !important;
}

.do-not-account{
    color: #545454;
    font-size: 0.9rem;
    font-weight: 500;
}

.navbar-light .navbar-nav .nav-link span{
    vertical-align: middle;
}

.navbar-light .navbar-nav .nav-item {
    margin-bottom: 5px;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: #000;
}

.nav-link-eth {
    background: #3500f4 !important;
}

.nav-link-btc {
    background: #3500f4 !important;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mt-15 {
    margin-top: 15px;
}

.no-padding {
    padding: 0 !important;
}

.dropdown-menu {
    border-radius: 0;
    border: none;
    box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, .1);
}

ion-icon {
    vertical-align: middle;
}

.form-control,
.btn {
    border-radius: 0;
}

.alert {
    border: none;
    border-radius: 0;
    padding: 15px 30px;
    font-size: 14px;
}

.table-tickets,
.table-transactions {
    font-size: 12px;
}

.navbar-toggler {
    border: none !important;
    outline: none !important;
}

.list-group-flush .list-group-item {
    border-color: #f8f8f8;
    font-size: 12px;
}

.btn {
    border-radius: 30px;
    padding: 5px 25px;
    font-size: 13px;
    font-weight: 500;
}

.btn-language {
    font-size: 11px !important;
}

.card-header .btn-link {
    padding: 0 !important;
}

.small-text {
    font-size: 11px;
}

.text-bold {
    font-weight: 500;
}

h3 {
    margin-bottom: 20px;
}

.accordion-with-icon .card-header > h5 > button[aria-expanded="true"]::after,
.accordion-with-icon .card-header > h5 > button[aria-expanded=" true "]::after {
    content: '-';
    right: 0;
    float: right;
}

.accordion-with-icon .card-header > h5 > button[aria-expanded="false"]::after,
.accordion-with-icon .card-header > h5 > button[aria-expanded=" false "]::after {
    content: '+';
    right: 0;
    float: right;
}

.span-divider {
    color: #ccc;
}

#footer {
    margin: 30px 0;
    font-size: 12px;
}

#btc-cashin input.btc-cashin-input {
    display: block;
    border: none;
    font-weight: 500;
    background: #fafafa;
    border-radius: 3px;
    padding: 5px 10px;
    font-size: 13px;
    margin: 10px 0 10px 0;
    width: 100%;
    text-align: center;
}

#btc-cashin .btc-cashin-box {
    max-width: 400px;
    text-align: center;
    margin: 0 auto;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .05);
    font-size: 14px;
    padding: 15px;
    border-radius: 3px;
}

#btc-cashin hr {
    background: #fafafa;
}

#btc-cashin h4 {
    color: #585c55;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 500;
}

#btc-cashin .btc-cashin-img {
    max-width: 200px;
}

#btc-cashin .btc-cashin-info {
    font-size: 12px;
    margin: 5px 0;
    display: block;
}

#btc-cashin a {
    font-weight: 500;text-decoration: none;
}

#btc-cashin a > ion-icon {
    font-size: 16px;
}

#btc-cashin .btc-cashin-divider {
    color: #ccc;
}

#btc-cashin .btc-cashin-status {
    font-size: 12px;
    margin: 0;
    display: block;
}

#btc-cashin .btc-cashin-copy-info {
    display: none;
    font-size: 12px;
    margin: 15px 0;
}

.btn-cashin {
    border-radius: 5px;
    padding: 10px 35px;
}

#eth-cashin input.eth-cashin-input {
    display: block;
    border: none;
    font-weight: 500;
    background: #fafafa;
    border-radius: 3px;
    padding: 5px 10px;
    font-size: 13px;
    margin: 10px 0 10px 0;
    width: 100%;
    text-align: center;
}

#eth-cashin .eth-cashin-box {
    max-width: 400px;
    text-align: center;
    margin: 0 auto;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .05);
    font-size: 14px;
    padding: 15px;
    border-radius: 3px;
}

#eth-cashin hr {
    background: #fafafa;
}

#eth-cashin h4 {
    color: #585c55;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 500;
}

#eth-cashin .eth-cashin-img {
    max-width: 200px;
}

#eth-cashin .eth-cashin-info {
    font-size: 12px;
    margin: 5px 0;
    display: block;
}

#eth-cashin a {
    font-weight: 500;text-decoration: none;
}

#eth-cashin a > ion-icon {
    font-size: 16px;
}

#eth-cashin .eth-cashin-divider {
    color: #ccc;
}

#eth-cashin .eth-cashin-status {
    font-size: 12px;
    margin: 0;
    display: block;
}

#eth-cashin .eth-cashin-copy-info {
    display: none;
    font-size: 12px;
    margin: 15px 0;
}

.btn-cashin {
    border-radius: 5px;
    padding: 10px 35px;
}

.ticket-section{
    margin: 1.5rem 0;
}

.ticket-reply {
    color: #000;
    background: rgb(129 143 158 / 10%);
    padding: 15px;
    border-radius: 0;
    font-size: 13px;
    border-radius: 0.5rem;
    margin-bottom: 10px;
}

.ticket-reply .ticket-reply-span {
    color: #677294;
    font-size: 11px;
    font-weight: 500;
    display: block;
    margin-top: 7px;
}

.ticket-reply.ticket-reply-answer {
    background: rgb(41, 4, 176);
    color: white;
}

.ticket-reply.ticket-reply-answer .ticket-reply-span {
    border-color: rgb(41, 4, 176);
}

.captcha-img {
    margin: 0 0 15px 0;
}

.form-control-round {
    border-radius: 30px;
}

.mt-15 {
    margin-top: 15px;
}

.price-control {
    font-size: 14px;
    font-weight: 500;
    padding: 7px 13px;
}

.only-p-left {
    padding-left: 3px;
}

.only-p-right {
    padding-right: 3px;
}

.btn-language {
    border-radius: 30px;
    background: rgba(0, 0, 0, .1);
    padding: 3px 20px 7px 20px !important;
    margin-left: 10px;
}

.language-dropdown .btn-language {
    margin-left: 10px;
    padding: 3px 28px 7px 20px !important;
}

.language-dropdown-hide-arrow .dropdown-toggle::after {
    border: none;
    font-size: 40px;
}

.btn-language img {
    max-width: 21px;
}

.dropdown-toggle::after {
    vertical-align: middle;
}

.flag-icon-img {
    max-width: 30px;
}

.flag-icon-name {
    vertical-align: middle;
    font-size: 13px;
    padding-left: 4px;
}

@media (max-width: 991px) {
    .only-p-left {
        padding-left: 15px;
    }

    .only-p-right {
        padding-right: 15px;
    }

    .mt-15-991 {
        margin-top: 15px;
    }

    .btn-language {
        margin-left: 0px;
        margin-top: 10px !important;
        padding-top: 6px !important;
    }
}

.btn-icon {
    font-size: 16px;
}

.product-tag {
    position: absolute;
    right: -5px;
    top: -5px;
    background: #383838;
    color: white;
    z-index: 100;
    padding: 3px 10px;
    font-size: 13px;
    font-weight: 500;
}

.product-tag.product-tag-sale {
    background: #e82811;
    color: white;
}

.product-tag > .product-tag-old-price {
    color: #222;
}

.list-group-order-note > span {
    display: block;
    margin-top: 5px;
    font-size: 9px;
    font-weight: 500;
}

.delivery-method-info {
    font-size: 11px;
    font-weight: 500;
    color: rgb(168, 122, 122);
}

.localelink img {
	width: 20px;
	height: 20px;
	border-radius: 50%;
}

.localelink {
	text-decoration: none !important;
	margin-left: 10px;
}

.localelink-active {
	color: white !important;
}

.kursbtn {
	text-decoration: none !important;
	font-size: 11px;
	color: #677294;
}

.kursbtn:hover,
.kursbtn:active,
.kursbtn:focus {
	text-decoration: none !important;
	color: #6754E2;
}


.btn-faq {
	border: none !important;
	outline: none !important;
	cursor: pointer;
}

.card {
    /*border-radius: 0;*/
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, .1);
    border-radius: 0 !important;
    transition:  all .4s;
    -webkit-transition:  all .4s;
    -moz-transition:  all .4s;

    border-bottom: 5px solid rgb(0, 250, 250);
}

.card-hover:hover {
    box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, .15);
}

.card-header {
    border-radius: 0 !important;
    border-bottom: none;
    background: white;
    color: #222;
    font-weight: 500;
}

.card-body {
    background: white;
    border-top: 1px solid #f8f8f8;
}

.card-footer {
    background: white;
    border-top: 1px solid #f8f8f8;
    border-radius: 0 !important;
}

.card-product-category {
    position: relative;
    border-radius: 30px;
    width: 310px;
    height: 220px;
    color: white;
    box-shadow: 5px 7px 9px 4px rgba(0, 0, 0, 0.3);
}

.card-product-category::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(0deg, #0D0E0E 13.58%, rgba(13, 14, 14, 0) 50.75%);
    border-radius: 30px;
}

.card-product-category:hover {
    color: rgb(226, 223, 223);
}
.product-category {
    text-decoration: none;
}
.product-category:hover {
    text-decoration: none;
}
.product-category-title {
    color: #fff;
    font-size: 30px;
}
.product-category-desc {
    color: #fff;
    font-size: 14px;
}

#bannerimage {
    width: 100%;
    height: 175px;
    background-position: center;
    border-radius: 20px;
}
.banner-content {
    margin-left: 50px;
    margin-right: 50px;
}
.banner-title {
    color: white;
    font-weight: 600;
    font-size: 40px;
}
.banner-desc {
    color: white;
    font-weight: 500;
    font-size: 25px;
    margin-top: 30px;
}
.btn-banner-buy {
    background-color: #D41A83;
    color: white;
    width: 180px;
    height: 60px;
    font-size: 23px;
    font-weight: 400;
    border-radius: 15px;
}
.btn-banner-buy:hover {
    background-color: #cf4e97;
    color: white;
}

/* common */
.back-btn-top{
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}

.back-btn-top svg{
    width: 1.2rem;
}

.back-btn-top span{
    color: #000;
    display: inline-block;
    margin-left: 0.3rem;
    font-weight: 500;
}

.dropdown-new{
    cursor: pointer;
    height: 55px;
    border-radius: 10px;
    border: 2px solid #D2D2D2;
    font-weight: 500;
}

.dropdown-new:focus{
    border-color: #D2D2D2;
    box-shadow: none;
}

.dropdown-new:hover{
    background-color: #f3f3f3;
}

/* new css for login */
.captcha-flex{
    display: flex;
    gap: 15px;
}

.captcha-flex .captcha-flex-left{
    width: 140px;
}

.captcha-flex .captcha-flex-right{
    width: calc(100% - 160px);
}

.captcha-flex .captcha-flex-right input{
    margin-top: 1.3em !important;
}

.auth-box .card-header{
    font-size: 2.25rem;
    color: #0D0E0E;
    padding: 0;
    text-align: center;
}

.auth-box input.form-control, .auth-box select.form-control{
    height: 55px;
    border: 2px solid #D2D2D2 !important;
    padding: 1em !important;
    border-radius: 10px;
    font-size: 1em;
    margin-top: 0.5em;
}

.auth-box textarea.form-control{
    border: 2px solid #D2D2D2 !important;
    padding: 1em !important;
    border-radius: 10px;
    font-size: 1em;
    margin-top: 0.5em;
}

.auth-box input.form-control:focus{
    outline: none !important;
    box-shadow: none;
    border-color: #015fcc !important;
}

.auth-box .form-group label{
    margin-bottom: 0;
}

.auth-box .captcha-img{
    margin-top: 0.5rem;
}

.auth-box .btn-block-pink{
    height: 55px;
    font-size: 1.2rem;
    padding: 0.52em;
}

/* dashboard */
.small-container{
    max-width: 980px;
    margin-left: 5%;
    margin-inline: auto;
    /* margin-top: 3rem; */
}

.dashboard-card{
    background-color: #f9f9f9;
    box-shadow: 0 0 12px #dfdfdf;
    border: 1px solid #e4e4e4;
    position: relative;
    border-radius: 18px;
    padding: 15px 15px 75px 15px;
    height: 12.8rem;
}

.dashboard-card .dashboard-card-footer{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 10px;
    z-index: 1;
}

.dashboard-card .dashboard-card-footer small{
    color: #fff;
    display: block;
}

.dashboard-card h5{
    color: #fff;
    margin-bottom: 0;
    font-size: 1.2em;
    margin-bottom: 0.4em;
}

.dashboard-card span{
    color: #d41a83;
    border-radius: 2em;
    font-size: 1em;
    font-weight: 500;
}

.dashboard-card .product-img{
    position: absolute;
    left: 0;
    min-width: 100%;
    max-height: 100%;
    height: auto;
    margin: 0 !important;
    top: 0;
}

.dashboard-card:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
    background: linear-gradient(0deg, #0D0E0E 13.58%, rgba(13, 14, 14, 0) 50.75%);
}

.mt-30{
    margin-top: 30px !important;
}

.small-container .page-title{
    font-weight: 600;
}

/* product details page */

.product-details-box h2{
    color: #0D0E0E;
    font-size: 40px;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 10px;
}

.product-details-box .product-slider{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    gap: 5px;
}

.product-slider .dashboard-card:nth-child(2){
    /* height: 220px; */
    transform: scale(1);
    opacity: 1;
}

.product-slider .dashboard-card:after{
    opacity: 0;
}

.product-slider .dashboard-card{
    width: 225px !important;
    transform: scale(0.8);
    opacity: 0.5;
}

.product-details-box small{
    font-weight: 500;
    font-size: 12px;
    color: #7D8A9B;
    margin-bottom: 0.8em;
}

.product-details-box .product-description{
    color: #000;
    font-weight: 500;
    font-size: 14px;
}

.product-details-box .table-transactions{
    width: 65%;
    border: 1px solid #ddd;
}

.product-details-box .table-transactions th{
    background: #efefef;
    color: #000;
    font-weight: 500;
    font-size: 1.2em;
    border-bottom: 0;
}

.product-details-box .table-transactions td{
    font-size: 1.2em;
}

.product-details-box .list-group-item .btn:not(.pink-btn){
    border-radius: 10px;
    height: 55px;
    font-size: 2.2em;
    line-height: 20px;
    min-width: 55px;
    padding: 0;
}

.product-details-box .list-group-item .btn:not(.pink-btn):focus{
    box-shadow: none;
}

.product-details-box .add-ons-product{
    display: flex;
    gap: 15px;
}

.product-details-box .add-ons-product input[type="number"]{
    height: 55px;
    border-radius: 10px;
}

.product-details-box .category-tag{
    display: inline-block;
    color: #000;
    background: #efefef;
    padding: 0.4em 1em;
    border-radius: 10px;
    margin-top: 0.5em;
    font-size: 0.8em;
    transition: 0.1s all ease-in;
}

.product-details-box .category-tag:hover{
    background-color: #D41A83;
    color: #fff;
    text-decoration: none;
}

.faq-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    padding: 35px 8px;
    box-shadow: 3px 4px 40px rgba(0, 0, 0, 0.1), -3px -4px 40px 1px rgba(0, 0, 0, 0.1);
    border-radius: 26px;
    margin-top: 2.5rem;
    margin-bottom: 15rem;
}

.faq-box-inner{
    box-shadow: 0 4px 8px rgba(8, 15, 52, 0.06);
    padding: 42px 32px;
    border-radius: 16px;
}

.faq-header h5{
    display: flex;
    position: relative;
}

.faq-header button.btn-faq{
    padding-left: 0;
    font-weight: 500;
    font-size: 22px;
    color: #170F49;
}

.faq-collapse-btn{
    border: none;
    outline: none;
    text-align: left;
    position: absolute;
    right: 0;
    top: 0;
    padding: 15px 20px;
    font-size: 18px;
    color: #6F6C90;
    cursor: pointer;
    transition: background-color 0.2s linear;
    width: 41px;
    height: 43px;
    background-color: #D41A83 !important;
    border-radius: 8px;
    display: grid;
    place-content: center;
}

.btn-faq.collapsed .faq-collapse-btn{
    background-color: #F7F7FF !important;
}

.btn-faq.collapsed .faq-collapse-btn span{
    background-color: #6F6C90 !important;
}

.btn-faq.collapsed span:nth-child(2){
    transform: rotate(90deg) !important;
}

.faq-collapse-btn span{
    grid-column: 1;
    grid-row: 1;
    width: 18px;
    height: 3px;
    background-color: #fff;
    border-radius: 8px;
    transition: 0.3s;
}

.faq-collapse-btn span:nth-child(2){
    transform: rotate(0deg);
}

.faq-collapse-btn:focus{
    outline: none;
}

.faq-collapse-btn:hover{
    background-color: #D41A83;
}

.faq-collapse-btn:hover span{
    background-color: #fff;
}

.faq-collapse-btn.is-open span{
    background-color: #fff !important;
}

.faq-collapse-btn.is-open span:nth-child(2) {
    transform: rotate(0deg) !important;
}

.faq-body p{
    font-size: 18px;
    color: #6F6C90;
    padding: 0;
    
    padding-top: 0.5em;
    margin-bottom: 0;
}

/* header */
.activated-link.btn.topnavBtn{
    color: #1B9E3D;
    font-size: 14px;
    font-weight: 500;
    padding: 1rem;
    border: 2px solid #EAEAEA;
    border-radius: 100px;
    line-height: 1;
    cursor: auto;
}

.activated-link.btn.topnavBtn:hover{
    color: #1B9E3D;
}

.align-center{
    align-items: center;
}

.user-drop-menu{
    display: flex;
    align-items: center;
    gap: 1rem;
    border: 2px solid #EAEAEA !important;
    border-radius: 100px;
    padding: 5px 14px !important;
    padding-right: 1rem;
    position: relative;
}

.user-drop-menu small{
    font-size: 18px;
    font-weight: 500;
    color: white;
    background-color: #e03596;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: grid;
    place-content: center;
}

.user-drop-menu .menu-icon{
    width: 23px;
    height: 14px;
    cursor: pointer;
    position: relative;
}

.user-drop-menu .menu-icon span{
    background-color: #7D8A9B;
    height: 3px;
    position: absolute;
    width: 100%;
    left: 0;
    transition: all 0.3s ease;
    border-radius: 100px;
}

.user-drop-menu::after{
    display: none;
}

.user-drop-menu .menu-icon span:nth-child(2){
    top: 6px;
}

.user-drop-menu .menu-icon span:nth-child(3){
    top: 12px;
}

.user-drop-menu img{
    width: 2.2rem;
}

.nav-item.active.dropdown.show span:first-child {
    transform: rotate(45deg);
    top: 6px;
}

.nav-item.active.dropdown.show span:nth-child(2) {
    opacity: 0;
}

.nav-item.active.dropdown.show .user-drop-menu span:last-child {
    transform: rotate(-45deg);
    top: 6px;
}

.nav-cart{
    position: relative;
}

.nav-cart small{
    background-color: #FF0000;
    color: white;
    font-size: 8px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: grid;
    place-items: center;
    line-height: 1;
    position: absolute;
    top: -8px;
    left: 8px;
}

.dropdown-item{
    color: #7D8A9B !important;
}

.dropdown-item:hover{
    color: #000 !important;
}

.separator-header{
    background-color: #7D8A9B;
    opacity: 0.5;
    height: 48px;
    width: 1px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.bold-page-header-title{
    font-size: 36px;
    font-weight: bold;
}

/* cart page */
.cart-list-view{
    display: flex;
    width: 100%;
    margin-top: 3rem;
    gap: 2rem;
}

.cart-list-view ul{
    padding-left: 0;
    width: 50%;
}

.cart-list-view li{
    display: flex;
    list-style: none;
    position: relative;
    margin-bottom: 3rem;
}

.cart-list-view li > div{
    display: flex;
}

.cart-list-view li > div h5{
    color: #000001;
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 3px;
}

.cart-list-view li > div h3{
    color: #000001;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 38px;
}

.cart-list-view li > div small{
    display: block;
}

.cart-list-view li > div .product-img-sm{
    width: 100px;
    height: 100px;
    border-radius: 1rem;
}

.cart-list-view li a{
    position: absolute;
    right: 0;
    top: calc(50% - 8px);
}

.all-summary {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 20px;
    border-radius: 20px;
    border: 1px solid #00000010;
    padding: 1.5rem;
}

.all-summary .text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    font-size: 18px;
}

.all-summary .separator {
    margin: 20px 0px;
}

.all-summary .text p {
    
    color: #000;
    opacity: 0.6;
    margin-bottom: 0 !important;
}

.all-summary .text p:nth-child(2) {
    opacity: 1;
    font-weight: 500;
}

.all-summary .discount p:nth-child(2) {
    color: #FF3333;
}

.all-summary .total p{
    opacity: 1;
}

.all-summary .total p:nth-child(2){
    font-size: 24px;
}

.path-navigation{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 2rem;
}

.path-navigation a {
    color: #667085;
    
    font-size: 14px;
}

.cart-path > a:last-child {
    color: black;
}

.cart-pink-btn{
    font-weight: 600;
    font-size: 24px !important;
    line-height: 33px !important;
}

.cart-container{
    max-width: 1200px;
    margin: 0 auto;
}

small.inline-block{
    display: inline-block !important;
}

.cart-list-view label{
    font-size: 80%;
    color: #000;
    margin-bottom: 0;
}

.cart-list-view *{
    
}

.my-order-sub-title{
    margin-top: 0 !important;
    margin-bottom: 0.5rem !important;
}

.table thead th{
    border-top-width: 0;
    font-size: 0.9rem !important;
    font-weight: 500 !important;
    border-bottom-width: 0 !important;
    border-top-width: 0;
    background: rgb(129 143 158 / 10%);
}

.table td{
    font-size: 0.9rem !important;
    word-break: break-word;
    white-space: normal;
}

.table a{
    color: #e03596 !important;
}

/* order details page */
.order-title {
    color: #344054;
    
    font-weight: 500;
    font-size: 30px;
    margin: 0 auto 0.95em auto;
    text-align: center;
}

.order-header {
    color: #667085;
    font-size: 14px;
    
    display: flex;
    align-items: center;
    gap: 1rem;
}

.order-header span {
    font-size: 16px;
    font-weight: 500;
    color: #1D2939;
}

.main-order .order-header .separator {
    background-color: #D0D5DD;
    width: 1px;
    height: 20px;
    margin: 1.75rem 0;
}

.order-header .estimation {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #12B76A;
    font-weight: 500;
    
}

.main-order .separator {
    background-color: #D0D5DD;
    width: 100%;
    height: 1px;
    margin: 1.75rem 0;
}

.order-destinations {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.order-destinations .destination *{
    
}

.order-destinations .destination {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
    
}

.order-destinations .destination .title {
    font-size: 18px;
    font-weight: 500;
    color: #D0D5DD;
}

.order-destinations .destination .bullet {
    width: 25px;
    height: 22px;
    background-color: #D0D5DD;
    border-radius: 100%;
}

.order-destinations .destination .date {
    font-size: 16px;
    margin-top: 0.3em;
    color: #667085;
}

.order-destinations .destination.active .title {
    color: #12B76A;
}

.order-destinations .destination.active .bullet {
    background: #12B76A;
}

.order-destinations .cross-line {
    background-color: #D0D5DD;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    grid-row: 1;
    grid-column: 1/5;
    align-self: end;
    margin-bottom: 22px;
    position: absolute;
    left: 0;
}

.order-items {
    margin-top: 5.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.order-items .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.order-items .item .left-side {
    display: flex;
    align-items: center;
    gap: 1.3rem;
}

.order-items .item .right-side {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.order-items .item .left-side .text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.order-items .item .left-side .title {
    font-family: "Roboto Flex", sans-serif;
    font-size: 24px;
    color: #344054;
}

.order-items .item .left-side .info {
    
    font-size: 16px;
    color: #667085;
    display: flex;
    gap: 0.5rem;
}

.order-items .item .left-side img{
    height: 124px;
    width: 124px;
}

.order-items .item .line {
    color: #D0D5DD;
}

.order-items .item .right-side {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.order-items .item .right-side .price {
    
    font-weight: 500;
    font-size: 20px;
    color: #2D3748;
}

.order-items .item .right-side .quality {
    
    color: #667085;
}

.order-2cols {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.order-2cols *{
    font-family: "Inter", sans-serif !important;
}

.order-2cols > div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: #667085;
}

.order-2cols .title {
    font-weight: 500;
    font-size: 20px;
    color: black;
}

.order-2cols .visa {
    display: flex;
    align-items: center;
    color: #667085;
    gap: 0.5rem;
    font-size: 14px;
}

.order-2cols .address {
    font-size: 14px;
}

.order-2cols .address-info {
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.order-2cols .right-side .order-summary-text {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 6px;
}

.order-2cols .right-side .order-summary-text .text.big {
    font-size: 20px;
    color: #2D3748;
}

.order-2cols .right-side .order-summary-text .text.big > div:nth-child(2) {
    font-weight: 500;
}

.order-2cols .right-side .order-summary-text .text.total {
    border-top: 1px dotted #D0D5DD;
    padding-top: 0.7em;
}

.order-2cols .right-side .order-summary-text .text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
}

/* checkout page */
.main-checkout-container {
    margin-top: 3.125rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.main-checkout-container .auth-box{
    padding-left: 0;
}

.main-checkout-container .auth-box li{
    display: block;
    list-style: none;
}

.main-checkout-container .path {
    display: flex;
    align-items: center;
    gap: 13px;
}

.main-checkout-container .path p.active {
    color: #D41A83;
}

.main-checkout-container .path p {
    
    font-weight: 500;
    font-size: 20px;
}

.details-title {
    
    font-weight: 500;
    font-size: 20px;
    color: black;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.summary .details-title {
    margin-top: 0px;
}

.main-checkout-container .all-summary{
    width: 100% !important;
}

.promo-code {
    display: flex;
    align-items: center;
    gap: 12px;
}

.main-checkout-container .summary-input-wrapper input {
    
    font-size: 16px;
    background-color: #F0F0F0;
    border-radius: 100px;
    border: none;
    outline: none;
    padding: 0.85em;
    padding-left: 3em;
    height: 48px;
    width: 100%;
}

.summary-input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.promo-code .apply {
    
    font-weight: 500;
    color: white;
    background-color: #D41A83;
    padding-inline: 1.5em;
    font-size: 16px;
    height: 48px;
    border-radius: 100px;
    display: grid;
    place-content: center;
    transition: 0.3s;
}

.summary-input-wrapper img {
    position: absolute;
    left: 15px;
    top: 13px;
}

.summary-input-wrapper input {
    
    font-size: 16px;
    background-color: #F0F0F0;
    border-radius: 100px;
    border: none;
    outline: none;
    padding: 0.85em;
    padding-left: 3em;
    height: 48px;
    width: 100%;
}

.main-checkout-container .btn-block-pink.btn.pink-btn{
    font-size: 1.2rem !important;
    margin-top: 1rem;
}

.main-checkout-container .applied-discount{
    border-top: 1px solid #ededed;
    padding-top: 2rem;
}

.primary-link{
    color: #d41a83;
}